<h1>Add new listing</h1>

<form action="/view_spaces" method="POST" >
    <div>
        <label>Name</label>
        <input type="text" name="name" />
    </div>    

    <div>
        <label>Description</label>
        <input type="text" name="description" />
        </div>
        
    <div>   
        <label>Price</label>
        <input type="integer" name="price" />
    </div>

    <div>
        <label>Available From</label>
        <input type="DATE" name="date_from" />
    </div>

    <div>
        <label>Available To</label>
        <input type="DATE" name="date_to" />

    <div>
        <input type="submit" value="Submit the form" />
    </div>
</form>