<h1>Sign up to makersbnb</h1>

<form action="/new_user" method = "POST">
<p>email: <input type="email" name="email"></p>
<p>password: <input type="password" name="password"></p>
<p><input type="submit" value ="submit"></p>
</form>